*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: none;
}

main {
    flex: 1;
    margin-top: 60px;
    margin-bottom: 60px;
    overflow-y: auto; 
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    border-top: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    z-index: 10;
    gap: 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    border-bottom: 2px solid black;
    height: 60px;
    z-index: 10;
    display: flex;
    align-items: center;
}

.header-inputs {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 8px;
    width: 100%;
}

.card {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 3px solid black;
    padding: 4px;
    position: relative;
}

.delete-card {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    overflow-y: auto;
    padding-bottom: 60px;
    flex: 1;
}

.pages-wrapper {
    padding: 8px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.page-number {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.selected-btn {
    background-color: gray;
}

.mobile-buttons button {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 900px) {
    .pages-wrapper {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .up-down__btns {
        display: none;
    }
    .mobile-buttons {
        display: none;
    }
}